<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"
                ><img
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/spkLogo_Dark.svg"
                    alt="logo"
                    width="500"
                    height="78"
            /></a>

            <!-- Newsletter -->
            <h2 style="color: white;">Why Spark Social?</h2>
            <p>
                Stay updated on our latest news, offers, and industry insights
                by following us on social media. Join our community and be part
                of the conversation.
            </p>
            <input />
            <button>Join our Newsletter</button>
            <!-- <p>
                Extra content if you need it, if not you can delete this whole p
                tag. I usually do.
            </p> -->
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/case-studies">Case Studies</a>
                    </li>
                    <li>
                        <a href="/blog">Trends & Insights</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Web Design</li>
                    <li>Digital Ads</li>
                    <li>Local SEO</li>
                    <li>Content Creation</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <!-- <li>
                        <a href="/contact">
                            {{ client.address.lineOne }}<br />
                            {{ client.address.lineTwo }}<br />
                            {{ client.address.city }}
                            {{ client.address.state }}
                            {{ client.address.zip }}
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="tel:{{ client.phoneForTel }}">
                            T: {{ client.phoneFormatted }}
                        </a>
                    </li> -->
                    <li>
                        <a href="mailto:{{ client.email }}"
                            >hello@sparksocial.agency</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Spark Social Media Agency</a>
        <span class="copyright"> Copyright {% year %} - Present</span>
    </div>
</footer>
