<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"
                ><img
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/spkLogo_Dark.svg"
                    alt="logo"
                    width="500"
                    height="78"
            /></a>

            <!-- Newsletter -->
            <h2 style="color: white;">Why Spark Social?</h2>
            <p>
                Stay updated on our latest news, offers, and industry insights
                by following us on social media. Join our community and be part
                of the conversation.
            </p>
            <input />
            <button>Join our Newsletter</button>
            <!-- <p>
                Extra content if you need it, if not you can delete this whole p
                tag. I usually do.
            </p> -->
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/services">Services</a>
                    </li>
                    <li>
                        <a href="/case-studies">Case Studies</a>
                    </li>
                    <li>
                        <a href="/blog">Trends & Insights</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Web Design</li>
                    <li>Digital Ads</li>
                    <li>Local SEO</li>
                    <li>Content Creation</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <!-- <li>
                        <a href="/contact">
                            {{ client.address.lineOne }}<br />
                            {{ client.address.lineTwo }}<br />
                            {{ client.address.city }}
                            {{ client.address.state }}
                            {{ client.address.zip }}
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="tel:{{ client.phoneForTel }}">
                            T: {{ client.phoneFormatted }}
                        </a>
                    </li> -->
                    <li>
                        <a href="mailto:{{ client.email }}"
                            >hello@sparksocial.agency</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Spark Social Media Agency</a>
        <span class="copyright"> Copyright {% year %} - Present</span>
    </div>
</footer>
<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-487">
    <div class="cs-container">
        <div class="cs-top">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                <a aria-label="go back to home" class="cs-logo" href="">
                    <!-- <img
                        class="cs-logo-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/IA-logo.svg"
                        alt="logo"
                        width="158"
                        height="37"
                    /> -->

                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/svgs/spkLogo_Dark.svg"
                        alt="logo"
                        width="500"
                        height="78"
                    />
                </a>
                <p class="cs-text">
                    Libero volutpat sed cras ornare arcu dui vivamus. Ac tortor
                    dignissim convallis aenean et tortor at risus viverra
                </p>
            </div>
            <!-- Contact Info -->
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Contact</span>
                </li>
                <li class="cs-li">
                    <img
                        class="cs-icon"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/PHONE-GOLD.svg"
                        alt="phone"
                        width="24"
                        height="24"
                    />
                    <a class="cs-link cs-phone" href="tel:555-686-9566"
                        >(555) 686-9566</a
                    >
                </li>
                <li class="cs-li">
                    <img
                        class="cs-icon"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/pin-gold.svg"
                        alt="pin"
                        width="24"
                        height="24"
                    />
                    <a class="cs-link cs-address" href="">
                        501 E Kennedy Blvd Suite 1400<br />
                        Tampa, FL 33602
                    </a>
                </li>
            </ul>
            <!--Sitemap-->
            <ul class="cs-ul cs-sitemap">
                <li class="cs-li">
                    <span class="cs-header">Sitemap</span>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/angle-right.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        About
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/angle-right.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Services
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/angle-right.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Projects
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/angle-right.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Faq
                    </a>
                </li>
            </ul>
            <div class="cs-subscribe-group">
                <span class="cs-header">Subscribe to our news</span>
                <p class="cs-subscribe-p">
                    Stay updated on our latest news, offers, and industry
                    insights by following us on social media. Join our community
                    and be part of the conversation.
                </p>
                <form class="cs-form" name="Footer Subscribe" method="post">
                    <input
                        id="email-487"
                        aria-label="email"
                        class="cs-input"
                        name="email"
                        type="email"
                        placeholder="Email"
                        required
                    />
                    <button
                        name="submit"
                        type="submit"
                        id="cs-submit-487"
                        data-submit="...Sending"
                    >
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
        <!--Bottom Copyright And Social-->
        <div class="cs-bottom">
            <span class="cs-copyright"
                >Spark Social © All rights reserved, Copyright 2025
                <a class="cs-copyright-link" href=""
                    >Built By Spark Social Media Agency
                </a></span
            >

            <div class="cs-social">
                <a
                    class="cs-social-link"
                    aria-label="visit google profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/fb-blue.svg"
                        alt="facebook"
                        width="11"
                        height="11"
                    />
                </a>
                <a
                    class="cs-social-link"
                    aria-label="visit facebook profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/insta-blue.svg"
                        alt="instagram"
                        width="6"
                        height="11"
                    />
                </a>
                <a
                    class="cs-social-link"
                    aria-label="visit instagram profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/twitter-blue.svg"
                        alt="twitter"
                        width="11"
                        height="11"
                    />
                </a>
            </div>
        </div>
    </div>
</footer>
