<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->


<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-487">
    <div class="cs-container">
        <div class="cs-top">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                 <!-- Contact Info -->
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-header">Contact</span>
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Phone-Blue.svg"
                            alt="phone"
                            width="24"
                            height="24"
                        />
                        <a class="cs-link cs-phone" href="tel:555-686-9566"
                            >(407) 906-6423</a
                        >
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Mail-Blue.svg"
                            alt="phone"
                            width="24"
                            height="24"
                        />
                        <a class="cs-link cs-phone" href="tel:555-686-9566"
                            >hello@sparksocial.agency</a
                        >
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-icon"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Pin-Blue.svg"
                            alt="pin"
                            width="24"
                            height="24"
                        />
                        <a class="cs-link cs-address" href="">
                            501 E Kennedy Blvd Suite 1400<br />
                            Tampa, FL 33602
                        </a>
                    </li>
                </ul>
              
            </div>
             <!--Sitemap-->
             <ul class="cs-ul cs-sitemap">
                <li class="cs-li">
                    <span class="cs-header">Sitemap</span>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Home
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Services
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Case Studies
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Trends & Insights
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        About Us
                    </a>
                </li>
            </ul>

             <!--Service Area-->
             <ul class="cs-ul cs-sitemap">
                <li class="cs-li">
                    <span class="cs-header">Service Areas</span>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Orlando, FL 
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                       Tampa, FL
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Atlanta, GA
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        New York, NY
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">
                        <img
                            class="cs-arrow"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="../assets/svgs/Angle-Right-Blue.svg"
                            alt="arrow"
                            width="4"
                            height="7"
                        />
                        Nashville, TN
                    </a>
                </li>
            </ul>
           
           
            <div class="cs-subscribe-group">
                <!-- <img
                loading="lazy"
                decoding="async"
                src="/assets/svgs/spkLogo_Light.svg"
                alt="logo"
                width="500"
                height="78"
            /> -->
                <span class="cs-header">Subscribe to our news</span>
                <p class="cs-subscribe-p">
                    Stay updated on our latest news, offers, and industry
                    insights by following us on social media. Join our community
                    and be part of the conversation.
                </p>
                <form class="cs-form" name="Footer Subscribe" method="post">
                    <input
                        id="email-487"
                        aria-label="email"
                        class="cs-input"
                        name="email"
                        type="email"
                        placeholder="Email"
                        required
                    />
                    <button
                        name="submit"
                        type="submit"
                        id="cs-submit-487"
                        data-submit="...Sending"
                    >
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
        <!--Bottom Copyright And Social-->
        <div class="cs-bottom">
            <div class="credit">
                <span>Designed and Coded by</span>
                <a href="/" target="_blank" rel="noopener">Spark Social Media Agency</a>
                <span class="copyright"> Copyright {% year %} - Present</span>
            </div>

            <div class="cs-social">
                <a
                    class="cs-social-link"
                    aria-label="visit google profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/fb-blue.svg"
                        alt="facebook"
                        width="11"
                        height="11"
                    />
                </a>
                <a
                    class="cs-social-link"
                    aria-label="visit facebook profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/insta-blue.svg"
                        alt="instagram"
                        width="6"
                        height="11"
                    />
                </a>
                <a
                    class="cs-social-link"
                    aria-label="visit instagram profile"
                    href=""
                >
                    <img
                        class="cs-social-img"
                        aria-hidden="true"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Footer/twitter-blue.svg"
                        alt="twitter"
                        width="11"
                        height="11"
                    />
                </a>
            </div>
        </div>
    </div>
</footer>
