---
title: "About | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
    key: About Us
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/cabinets2-m.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/cabinets2.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/cabinets2.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/cabinets2-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/cabinets2.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/cabinets2.jpg"
                        alt="cabinets"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/construction-m.jpg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/construction.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/construction.jpg"
                        alt="house"
                        loading="lazy"
                        width="400"
                        height="563"
                    />
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent
                    Class officelan nonatoureanor mauris laoreet, iaculis libero
                    quis. Curabitur et tempus eri consequat tincidunt turpis sit
                    amet imperdiet. Praesent nonatourean olei aptent taciti
                    sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent
                    Class officelan nonatoureanor mauris laoreet, iaculis libero
                    quis. Curabitur et tempus eri consequat tincidunt turpis sit
                    amet imperdiet. Praesent nonatourean olei aptent taciti
                    sociosqu ad litora torquent per.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet.
                        Praesent Classei consequat tincidunt turpis sit amet
                        imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img
                        class="cs-quote-icon"
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                        alt="gavel"
                        width="136"
                        height="77"
                    />
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="RPsbs-2278">
        <div class="cs-header">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">
                We Have a Vision For The Future Of Construction
            </h2>
        </div>
        <div class="cs-container">
            <!-- Left Image Section -->
            <picture class="cs-picture">
                <source
                    media="(max-width: 600px)"
                    srcset="
                        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction7.jpg
                    "
                />
                <source
                    media="(min-width: 601px)"
                    srcset="
                        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction7.jpg
                    "
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction7.jpg"
                    alt="construction"
                    width="500"
                    height="552"
                    aria-hidden="true"
                />
            </picture>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h3 class="cs-h3">Roofing Services</h3>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Platea porttitor in venenatis enim molestie felis vitae nec.
                    Tempor tempor aliquam mus nec. Sodales consectetur lectus
                    quis nullam mauris, cursus massa faucibus. Quis magna nunc
                    nulla eget. Etiam sit adipiscing felis sagittis, facilisi.
                    Pretium sed.
                </p>
                <span class="cs-heading">Services Include:</span>
                <ul class="cs-ul">
                    <li class="cs-li">Roof inspections and maintenance</li>
                    <li class="cs-li">Leak detection and repairs</li>
                    <li class="cs-li">Roof replacement and installation</li>
                    <li class="cs-li">Energy-efficient roofing solutions</li>
                </ul>
                <a class="cs-button-solid" href="">Learn More</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="RPsbsr-2278">
        <div class="cs-container">
            <!-- Left Image Section -->
            <picture class="cs-picture">
                <source
                    media="(max-width: 600px)"
                    srcset="
                        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction8.jpg
                    "
                />
                <source
                    media="(min-width: 601px)"
                    srcset="
                        https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction8.jpg
                    "
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction8.jpg"
                    alt="construction"
                    width="500"
                    height="552"
                    aria-hidden="true"
                />
            </picture>
            <!-- Right Content Section-->
            <div class="cs-content">
                <h3 class="cs-h3">Stucco Services</h3>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Platea porttitor in venenatis enim molestie felis vitae nec.
                    Tempor tempor aliquam mus nec. Sodales consectetur lectus
                    quis nullam mauris, cursus massa faucibus. Quis magna nunc
                    nulla eget
                </p>
                <span class="cs-heading">Services Include:</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Stucco application for new constructions
                    </li>
                    <li class="cs-li">Stucco repairs and crack sealing</li>
                    <li class="cs-li">Decorative finishes and textures</li>
                    <li class="cs-li">
                        Weather-resistant and insulated stucco solutions
                    </li>
                </ul>
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >Learn More</a
                >
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1395">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">
                    Happy Client’s Feedback About Our Service
                </h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img
                        class="cs-quote"
                        aria-hidden="true"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg"
                        decoding="async"
                        alt="quote icon"
                        width="120"
                        height="99"
                    />
                    <p class="cs-item-text">
                        Small businesses are the heartbeat of communities,
                        embodying the spirit of entrepreneurship, determination,
                        and local support.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img
                                class="cs-profile"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg"
                                decoding="async"
                                alt="profile"
                                width="50"
                                height="50"
                                aria-hidden="true"
                            />
                        </picture>
                        <span class="cs-name">
                            Britney Allison
                            <span class="cs-job">Founder Of Yokoloko</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img
                        class="cs-quote"
                        aria-hidden="true"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg"
                        decoding="async"
                        alt="quote icon"
                        width="120"
                        height="99"
                    />
                    <p class="cs-item-text">
                        I want to say a huge thank you to the Stitch team. The
                        guys in a short time and very efficiently helped me with
                        the development of a website for my new startup.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img
                                class="cs-profile"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png"
                                decoding="async"
                                alt="profile"
                                width="50"
                                height="50"
                                aria-hidden="true"
                            />
                        </picture>
                        <span class="cs-name">
                            Jessica Jonson
                            <span class="cs-job">CTO Of Meriette</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                      FAQ                     -->
    <!-- ============================================ -->

    <section id="faq-1582">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">FAQ</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">1. How do I place an order?</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">
                            2. What payment methods do you accept?
                        </h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">3. How can I track my order?</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">4. What is your return policy?</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">
                            5. Do you offer international shipping?
                        </h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">
                            6. How can I contact customer support?
                        </h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Ipsa fugiat impedit molestias vitae
                            voluptatibus sed enim! Cupiditate ab praesentium
                            dolorem libero veritatis beatae assumenda totam, in,
                            nemo quis consectetur labore!
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
