---
title: "Project Two | Spark Social Media Agency"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "project-two/"
eleventyNavigation:
    key: Content Marketing
    order: 3200
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Hero Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1106">
        <div class="cs-container">
            <span class="cs-int-title">Search Engine Optimization</span>
            <div class="cs-breadcrumbs">
                <a href="" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">Services</a>
                <a href="" class="cs-link cs-active"
                    >Search Engine Optimization</a
                >
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source
                media="(max-width: 600px)"
                srcset="
                    https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg
                "
            />
            <!--Tablet and above Image-->
            <source
                media="(min-width: 601px)"
                srcset="
                    https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg
                "
            />
            <img
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg"
                alt="mechanic"
                width="1280"
                height="568"
                aria-hidden="true"
            />
        </picture>
    </div>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-73">
        <div class="cs-container">
            <picture class="cs-picture">
                <source
                    media="(max-width: 600px)"
                    srcset="
                        https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder-m.jpg
                    "
                />
                <source
                    media="(min-width: 601px)"
                    srcset="
                        https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg
                    "
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg"
                    alt="body builder"
                    width="500"
                    height="552"
                    aria-hidden="true"
                />
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Small Group Training</span>
                <h2 class="cs-title">Make your circle healthier together</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc massa ut sed odio cursus. Malesuada scelerisque eget
                    eu, sollicitudin tellus nibh aenean enim sed. Ut vitae eget
                    commodo consectetur felis augue. Condimentum pellentesque
                    sed aliquet leo in potenti libero.
                </p>
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >Learn More</a
                >
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Stats                      -->
    <!-- ============================================ -->

    <section id="stats-1668">
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-header">Projects Completed</span>
                    <span class="cs-number">886</span>
                </li>
                <li class="cs-item">
                    <span class="cs-header">Satisfied Customers</span>
                    <span class="cs-number">2k</span>
                </li>
                <li class="cs-item">
                    <span class="cs-header">Repeat Customers</span>
                    <span class="cs-number">475</span>
                </li>
                <li class="cs-item">
                    <span class="cs-header">Professional Team</span>
                    <span class="cs-number">37</span>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Content                     -->
    <!-- ============================================ -->

    <section id="content-1638">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">About Us</span>
                    <h2 class="cs-title">
                        Marketing strategies & campaigns that will prioritize &
                        maximize company profits.
                    </h2>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-h3">
                        Revolutionize tour business, exceedyour goals Partner
                        with Smartaxdynamic consulting firm.
                    </h3>
                    <p class="cs-text">
                        Aqestic recusandae laudantium optio amet a quisquam
                        saepe aliquid, voluptate praesentium dicta fuga dolor
                        error perspiciatis voluptatem eum cupiditate totam
                        reiciendis quam minus inventore sint rem impedit esse
                        quasi Tenetur sed reprehenderit earum a magni aliquid
                        blanditiis dolores, veritatis soluta autem beatae
                        officia expedita ipsum rerum doloribus sit provident
                        delectus.
                    </p>
                    <a href="" class="cs-button-solid">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="reviews-1395">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">
                    Happy Client’s Feedback About Our Service
                </h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img
                        class="cs-quote"
                        aria-hidden="true"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg"
                        decoding="async"
                        alt="quote icon"
                        width="120"
                        height="99"
                    />
                    <p class="cs-item-text">
                        Small businesses are the heartbeat of communities,
                        embodying the spirit of entrepreneurship, determination,
                        and local support.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img
                                class="cs-profile"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg"
                                decoding="async"
                                alt="profile"
                                width="50"
                                height="50"
                                aria-hidden="true"
                            />
                        </picture>
                        <span class="cs-name">
                            Britney Allison
                            <span class="cs-job">Founder Of Yokoloko</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img
                        class="cs-quote"
                        aria-hidden="true"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg"
                        decoding="async"
                        alt="quote icon"
                        width="120"
                        height="99"
                    />
                    <p class="cs-item-text">
                        I want to say a huge thank you to the Stitch team. The
                        guys in a short time and very efficiently helped me with
                        the development of a website for my new startup.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img
                                class="cs-profile"
                                src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png"
                                decoding="async"
                                alt="profile"
                                width="50"
                                height="50"
                                aria-hidden="true"
                            />
                        </picture>
                        <span class="cs-name">
                            Jessica Jonson
                            <span class="cs-job">CTO Of Meriette</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                    Steps                     -->
    <!-- ============================================ -->

    <section id="steps-1376">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Process</span>
                <h2 class="cs-title">
                    We’re Committed to Maintain Standard Work Process
                </h2>
            </div>
            <!--
            We had to use a div here because of the grouping we had to do to make the staggerd design work. We needed to create two groups, one with 3 cards and one with 2 cards so we can arrange the cards separately to create the design we need to create. 
        -->
            <div class="cs-card-group">
                <div class="cs-group1">
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img
                                class="cs-icon"
                                loading="lazy"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step1.svg"
                                alt="icon"
                                width="48"
                                height="48"
                            />
                        </picture>
                        <h3 class="cs-h3">Discovery</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Praesentium, et?
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img
                                class="cs-icon"
                                loading="lazy"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step2.svg"
                                alt="icon"
                                width="32"
                                height="32"
                            />
                        </picture>
                        <h3 class="cs-h3">Strategy</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Praesentium, et?
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img
                                class="cs-icon"
                                loading="lazy"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg"
                                alt="icon"
                                width="32"
                                height="32"
                            />
                        </picture>
                        <h3 class="cs-h3">Design</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Praesentium, et?
                        </p>
                    </div>
                </div>
                <div class="cs-group2">
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img
                                class="cs-icon"
                                loading="lazy"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step4.svg"
                                alt="icon"
                                width="32"
                                height="32"
                            />
                        </picture>
                        <h3 class="cs-h3">Development</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Praesentium, et?
                        </p>
                    </div>
                    <div class="cs-item">
                        <picture class="cs-picture">
                            <img
                                class="cs-icon"
                                loading="lazy"
                                decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/step3.svg"
                                alt="icon"
                                width="32"
                                height="32"
                            />
                        </picture>
                        <h3 class="cs-h3">Test & Launch</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Praesentium, et?
                        </p>
                    </div>
                </div>
                <picture class="cs-waves">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 1023px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-tablet.svg
                        "
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 1024px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/wave-desktop.svg"
                        alt="wave"
                        width="1280"
                        height="568"
                    />
                </picture>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
