---
title: "Project One | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "project-one/"
eleventyNavigation:
    key: Service 1
    order: 3100
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-2289">
        <div class="cs-container">
            <!-- Left Content Section-->
            <div class="cs-content">
                <span class="cs-topper">Featured service</span>
                <h2 class="cs-title">Creating Elegant Outdoor Living Spaces</h2>
                <p class="cs-text">
                    Transform your outdoor spaces with our hardscaping services.
                    We design stunning patios, walkways, retaining walls, and
                    outdoor kitchens, combining creativity and expertise to
                    enhance your relaxation and entertainment areas.
                </p>
                <div class="cs-features">
                    <h3 class="cs-h3">Key Features:</h3>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            Custom design tailored to your outdoor space
                        </li>
                        <li class="cs-li">
                            Durable and aesthetically pleasing materials
                        </li>
                        <li class="cs-li">
                            Seamless integration with your home’s architecture
                        </li>
                    </ul>
                </div>
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >Read More</a
                >
            </div>
            <!-- Right Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-number">12K+</span>
                    <div class="cs-flex">
                        <h3 class="cs-heading">Square Meters Paved</h3>
                        <span class="cs-desc"
                            >Hardscaping projects that combine beauty and
                            functionality.</span
                        >
                    </div>
                </div>
                <!--Image-->
                <picture class="cs-picture">
                    <source
                        media="(max-width: 600px)"
                        srcset="/assets/images/services_hero.jpeg"
                    />
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/services_hero.jpeg"
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="/assets/images/services_hero.jpeg"
                        alt="meeting"
                        width="630"
                        height="630"
                        aria-hidden="true"
                    />
                </picture>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-1378">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">
                    We’re Commited to Deliver Top High Quality Services
                </h2>
                <p class="cs-text">
                    We specialize in small business web design and development
                    for clients anywhere in the US. Every line of code is
                    written by hand to ensure the best performance, which helps
                    bring in more customers to your site and bring more revenue
                    to your business.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-layers.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Full Development</h3>
                    <p class="cs-item-text">
                        Blanket term for a whole gamut of different holistic,
                        non-medical, physical procedures aimed at helping you
                        achieve
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-media.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Media Strategy</h3>
                    <p class="cs-item-text">
                        Blanket term for a whole gamut of different holistic,
                        non-medical, physical procedures aimed at helping you
                        achieve
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-alert.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Effective Marketing</h3>
                    <p class="cs-item-text">
                        Blanket term for a whole gamut of different holistic,
                        non-medical, physical procedures aimed at helping you
                        achieve
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-meter.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">SEO Optimization</h3>
                    <p class="cs-item-text">
                        Blanket term for a whole gamut of different holistic,
                        non-medical, physical procedures aimed at helping you
                        achieve
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-design.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">UX / UI Design</h3>
                    <p class="cs-item-text">
                        Blanket term for a whole gamut of different holistic,
                        non-medical, physical procedures aimed at helping you
                        achieve
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img
                            class="cs-icon"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/agency-image.svg"
                            alt="icon"
                            width="48"
                            height="48"
                        />
                    </picture>
                    <h3 class="cs-h3">Photo and Print</h3>
                    <p class="cs-item-text">
                        Blanket term for a whole gamut of different holistic,
                        non-medical, physical procedures aimed at helping you
                        achieve
                    </p>
                    <a href="/" class="cs-link">
                        <img
                            class="cs-arrow"
                            decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/agency-arrow-upper-right.svg"
                            alt="arrow"
                            width="413"
                            height="374"
                            aria-hidden="true"
                        />
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Why Choose Us                -->
    <!-- ============================================ -->

    <section id="why-choose-1662">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Process</span>
                <h2 class="cs-title">
                    Grow Your Business with Spark Social Media Agency
                </h2>
            </div>
            <div class="cs-wrapper">
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-item-number">01</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">Aqestic recusandae laudantium</h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">02</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Voluptatem eum cupiditate totam
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">03</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Recusandae laudantium optio amet
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">04</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">Aqestic recusandae laudantium</h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                </ul>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-item-number">05</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Recusandae laudantium optio amet
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">06</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">Aqestic recusandae laudantium</h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">07</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Voluptatem eum cupiditate totam
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!---SVG Graphic-->
        </div>
    </section>

    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <section id="cta-697">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">
                    Have Doubts? Get Your Queries Solved by Our Experts
                </h2>
                <a href="" class="cs-button-solid">Get In Touch</a>
            </div>
        </div>
        <!--SVG Waves Background-->
        <img
            class="cs-background"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg"
            alt="wave graphic"
            width="1920"
            height="318"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
        />
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1373">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Performance</span>
                <h2 class="cs-title">Web Design Company You Can Trust</h2>
                <p class="cs-text">
                    Our web design company specializes in the professional
                    creation of unique sites. Our team constantly monitors the
                    emergence of new technologies that we are not afraid to
                    implement in web projects, making them modern and high-tech.
                </p>
                <div class="cs-content-flair">
                    <div class="cs-bar">
                        <h3 class="cs-h3">
                            Savings Strategies
                            <span class="cs-percentage">83%</span>
                        </h3>
                        <!--change the --progress number to match the percentage in cs-number-->
                        <div class="cs-progress" aria-hidden="true">
                            <span
                                class="cs-progress-bar"
                                style="--progress: 83%"
                            ></span>
                        </div>
                    </div>
                    <div class="cs-bar">
                        <h3 class="cs-h3">
                            Tax Planning
                            <span class="cs-percentage">72%</span>
                        </h3>
                        <!--change the --progress number to match the percentage in cs-number-->
                        <div class="cs-progress" aria-hidden="true">
                            <span
                                class="cs-progress-bar"
                                style="--progress: 72%"
                            ></span>
                        </div>
                    </div>
                    <div class="cs-bar">
                        <h3 class="cs-h3">
                            Trusted Company
                            <span class="cs-percentage">96%</span>
                        </h3>
                        <!--change the --progress number to match the percentage in cs-number-->
                        <div class="cs-progress" aria-hidden="true">
                            <span
                                class="cs-progress-bar"
                                style="--progress: 96%"
                            ></span>
                        </div>
                    </div>
                </div>
                <a href="" class="cs-button-solid">Contact Now</a>
            </div>
            <div class="cs-flex">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/cafe.jpg
                        "
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/cafe.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/cafe.jpg"
                        alt="person in cafe"
                        width="414"
                        height="627"
                    />
                </picture>
                <div class="cs-review">
                    <img
                        class="cs-icon"
                        loading="lazy"
                        decoding="async"
                        aria-hidden="true"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/oeange-quotes.svg"
                        alt="appliance"
                        width="120"
                        height="99"
                    />
                    <p class="cs-review-text">
                        Small businesses are the heartbeat of communities,
                        embodying the spirit of entrepreneurship, determination,
                        and local support.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
