---
title: "Project Two | Code Stitch Web Designs"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "project-two/"
eleventyNavigation:
    key: Service 2
    order: 3200
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Hero Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1106">
        <div class="cs-container">
            <span class="cs-int-title">Search Engine Optimization</span>
            <div class="cs-breadcrumbs">
                <a href="" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">Services</a>
                <a href="" class="cs-link cs-active"
                    >Search Engine Optimization</a
                >
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source
                media="(max-width: 600px)"
                srcset="
                    https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg
                "
            />
            <!--Tablet and above Image-->
            <source
                media="(min-width: 601px)"
                srcset="
                    https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg
                "
            />
            <img
                decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg"
                alt="mechanic"
                width="1280"
                height="568"
                aria-hidden="true"
            />
        </picture>
    </div>

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-73">
        <div class="cs-container">
            <picture class="cs-picture">
                <source
                    media="(max-width: 600px)"
                    srcset="
                        https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder-m.jpg
                    "
                />
                <source
                    media="(min-width: 601px)"
                    srcset="
                        https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg
                    "
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg"
                    alt="body builder"
                    width="500"
                    height="552"
                    aria-hidden="true"
                />
            </picture>
            <div class="cs-content">
                <span class="cs-topper">Small Group Training</span>
                <h2 class="cs-title">Make your circle healthier together</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nunc massa ut sed odio cursus. Malesuada scelerisque eget
                    eu, sollicitudin tellus nibh aenean enim sed. Ut vitae eget
                    commodo consectetur felis augue. Condimentum pellentesque
                    sed aliquet leo in potenti libero.
                </p>
                <a
                    class="cs-button-solid"
                    aria-label="learn more about our programs"
                    href=""
                    >Learn More</a
                >
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port1-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port1.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port1.jpg"
                            alt="new hallway"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port4-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port4.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port4.jpg"
                            alt="new home construction"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port7-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port7.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port7.jpg"
                            alt="building a new wall"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port2-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port2.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port2.jpg"
                            alt="new kitchen"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port5-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port5.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port5.jpg"
                            alt="apartment addition"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port8-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port8.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port8.jpg"
                            alt="kew kitchen cabinets"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port3-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port3.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port3.jpg"
                            alt="new kitchen"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port6-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port6.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port6.jpg"
                            alt="apartment addition"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source
                            media="(max-width: 600px)"
                            srcset="/assets/images/portfolio/port9-m.jpg"
                        />
                        <source
                            media="(min-width: 601px)"
                            srcset="/assets/images/portfolio/port9.jpg"
                        />
                        <img
                            aria-hidden="true"
                            decoding="async"
                            src="/assets/images/portfolio/port9.jpg"
                            alt="kew kitchen cabinets"
                            loading="lazy"
                            width="400"
                            height="560"
                        />
                    </picture>

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
            <a href="/contact" class="cs-button-solid">Get Free Quote</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
