---
title: "Project One | Spark Social Media Agency"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "project-six/"
eleventyNavigation:
    key: Reputation Management
    order: 3100
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reputation.css" />
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1951">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reputation Management</span>
            <h2 class="cs-title">From First Impressions to 5-Star Reputations – We’ve Got Your Back.</h2>
            <p class="cs-text">
                Let us show you how to turn every customer interaction into review gold – start with a no-commitment demo or dive into a 14-day trial.
            </p>
         
            <div class="button" id="button-container">
                <a href="/about" class="cs-button-solid">Schedule a Demo</a>
                <a href="/about" class="cs-button-solid">Start Your 14-day Trial</a>
            </div>
           
            <div class="cs-reviews">
                <div class="cs-reviews-flex">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile1.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile2.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile3.png" alt="icon" width="48" height="48">
                    <img class="cs-reviews-img" decoding="async" fetchpriority="high" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hero-profile4.png" alt="icon" width="48" height="48">
                    <span class="cs-reviews-number">+4k</span>
                </div>
                <div class="cs-flex">
                    <h3 class="cs-rating">Ratings<img class="cs-rating-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/lil-star.svg" alt="star" width="16" height="16" loading="lazy" decoding="async">5.0</h3>
                    <p class="cs-reviews-text">Trusted by Clients From Worldwide</p>
                </div>
            </div>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-left">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/pancakes.png">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/pancakes.png">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/pancakes.png" alt="pancake" width="305" height="600" aria-hidden="true">
            </picture>
            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/highlight.svg" alt="icon" width="169" height="100" loading="lazy" decoding="async">
            <picture class="cs-picture cs-right">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sushi.jpeg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sushi.jpeg">
                <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/sushi.jpeg" alt="sushi" width="305" height="600" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->
<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-70">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Small Group Training</span>
            <h2 class="cs-title">Make your circle healthier together</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa ut sed odio cursus. Malesuada scelerisque eget eu, sollicitudin tellus nibh aenean enim sed. Ut vitae eget commodo consectetur felis augue. Condimentum pellentesque sed aliquet leo in potenti libero.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>
                                
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-70">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/body-builder.jpg" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Small Group Training</span>
            <h2 class="cs-title">Make your circle healthier together</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa ut sed odio cursus. Malesuada scelerisque eget eu, sollicitudin tellus nibh aenean enim sed. Ut vitae eget commodo consectetur felis augue. Condimentum pellentesque sed aliquet leo in potenti libero.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>
                                
  <!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->

<section id="pricing-244">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Choose Your Plan</h2>
            <p class="cs-text">
                There’s a plan for all types of creators in the web development industry. Choose the one that fits your needs. Feel free to contact us if you have any questions. We look forward to speaking with you!
            </p>
        </div>
        <ul class="cs-card-group">
            <!-- Option 1 -->
            <li class="cs-item">
                <h3 class="cs-h3">Free</h3>
                <p class="cs-item-text">
                    Includes unlimited members for anyone looking to start using CodeStitch.
                </p>
                <span class="cs-price cs-option1-text">$0</span>
                <a href="/basic.html" class="cs-button-solid">Subscribe</a>
                <span class="cs-included">What's included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Limitied access to Stitches
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Limitied Categories
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Basic Support
                    </li>
                </ul>
            </li>
            <!-- Option 2 -->
            <li class="cs-item cs-popular">
                <h3 class="cs-h3">Team</h3>
                <p class="cs-item-text">
                    Great for agencies and in-house teams looking to optimize collaboration.
                </p>
                <span class="cs-price cs-option1-text">$24/mo</span>
                <a href="/basic.html" class="cs-button-solid">Subscribe</a>
                <span class="cs-included">What's included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Limitied access to Stitches
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Limitied Categories
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Basic Support
                    </li>
                </ul>
            </li>
            <!-- Option 3 -->
            <li class="cs-item">
                <h3 class="cs-h3">Freelancer</h3>
                <p class="cs-item-text">
                    Perfect for growth-minded individuals running small freelancing agencies.
                </p>
                <span class="cs-price cs-option1-text">$12/mo</span>
                <a href="/basic.html" class="cs-button-solid">Subscribe</a>
                <span class="cs-included">What's included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Limitied access to Stitches
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Limitied Categories
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg" alt="code stitch icon" width="20" height="20">
                        Basic Support
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--                 Why Choose Us                -->
    <!-- ============================================ -->

    <section id="why-choose-1662">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Process</span>
                <h2 class="cs-title">
                    Grow Your Business with Spark Social Media Agency
                </h2>
            </div>
            <div class="cs-wrapper">
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-item-number">01</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">Aqestic recusandae laudantium</h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">02</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Voluptatem eum cupiditate totam
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">03</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Recusandae laudantium optio amet
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">04</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">Aqestic recusandae laudantium</h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                </ul>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <span class="cs-item-number">05</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Recusandae laudantium optio amet
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">06</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">Aqestic recusandae laudantium</h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <span class="cs-item-number">07</span>
                        <div class="cs-item-wrapper">
                            <h3 class="cs-h3">
                                Voluptatem eum cupiditate totam
                            </h3>
                            <p class="cs-item-text">
                                Optio amet a quisquam saepe aliquid, voluptate
                                praesentium dicta.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!---SVG Graphic-->
        </div>
    </section>




    <!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-857">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Coverage</span>
            <h2 class="cs-title">Request and Monitor Hundreds of Review Sites</h2>
        </div>
        <div class="cs-logo-group">
            <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo5.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo6.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo7.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo8.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo5.png" alt="logo" width="150" height="65" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo6.png" alt="logo" width="150" height="55" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo7.png" alt="logo" width="150" height="53" loading="lazy" decoding="async">
            <img class="cs-logo" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Logos%2Flogo8.png" alt="logo" width="150" height="61" loading="lazy" decoding="async">
        </div>
    </div>
</section>
                                
    <!-- ============================================ -->
    <!--                     CTA                      -->
    <!-- ============================================ -->

    <section id="cta-697">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">
                    Ready to Boost Your Online Presence?
                </h2>
                <a href="" class="cs-button-solid">Request a Free Proposal</a>
            </div>
        </div>
        <!--SVG Waves Background-->
        <img
            class="cs-background"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fwaves-3.svg"
            alt="wave graphic"
            width="1920"
            height="318"
            loading="lazy"
            decoding="async"
            aria-hidden="true"
        />
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1373">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Impact</span>
                <h2 class="cs-title">Driving Results for Local Businesses</h2>
                <p class="cs-text">
                    As a leading digital marketing agency, we specialize in creating tailored strategies that help SMBs dominate their local markets. Our full-service approach combines SEO, PPC, social media, and web design to maximize your online visibility and ROI.
                </p>
                <div class="cs-content-flair">
                    <div class="cs-bar">
                        <h3 class="cs-h3">
                            Clients on Google's First Page
                            <span class="cs-percentage">83%</span>
                        </h3>
                        <!--change the --progress number to match the percentage in cs-number-->
                        <div class="cs-progress" aria-hidden="true">
                            <span
                                class="cs-progress-bar"
                                style="--progress: 83%"
                            ></span>
                        </div>
                    </div>
                    <div class="cs-bar">
                        <h3 class="cs-h3">
                            Average Conversion Rate Increase
                            <span class="cs-percentage">72%</span>
                        </h3>
                        <!--change the --progress number to match the percentage in cs-number-->
                        <div class="cs-progress" aria-hidden="true">
                            <span
                                class="cs-progress-bar"
                                style="--progress: 72%"
                            ></span>
                        </div>
                    </div>
                    <div class="cs-bar">
                        <h3 class="cs-h3">
                            Client Satisfaction
                            <span class="cs-percentage">96%</span>
                        </h3>
                        <!--change the --progress number to match the percentage in cs-number-->
                        <div class="cs-progress" aria-hidden="true">
                            <span
                                class="cs-progress-bar"
                                style="--progress: 96%"
                            ></span>
                        </div>
                    </div>
                </div>
                <a href="" class="cs-button-solid">Contact Now</a>
            </div>
            <div class="cs-flex">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source
                        media="(max-width: 600px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/cafe.jpg
                        "
                    />
                    <!--Tablet and above Image-->
                    <source
                        media="(min-width: 601px)"
                        srcset="
                            https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/cafe.jpg
                        "
                    />
                    <img
                        loading="lazy"
                        decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/cafe.jpg"
                        alt="person in cafe"
                        width="414"
                        height="627"
                    />
                </picture>
                <div class="cs-review">
                    <img
                        class="cs-icon"
                        loading="lazy"
                        decoding="async"
                        aria-hidden="true"
                        src="../assets/svgs/blue-quotes.svg"
                        alt="appliance"
                        width="120"
                        height="99"
                    />
                    <p class="cs-review-text">
                        Small businesses are the heartbeat of communities,
                        embodying the spirit of entrepreneurship, determination,
                        and local support.
                    </p>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}
