/* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
    #gallery {
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
        padding: var(--sectionPadding);
        /* Centers button */
        text-align: center;
        .cs-container {
            margin: auto;
            max-width: calc(1322 / 16 * 1em);
            width: 100%;
        }

        .cs-image-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 0 auto calc(60 / 16 * 1rem);
            max-width: calc(1322 / 16 * 1em);
            width: 100%;
            padding: 0;
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: min(1.1vw, 1em);
            gap: calc(30 / 16 * 1em);
        }

        .cs-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: calc(30 / 16 * 1em);
        }

        .cs-picture {
            position: relative;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-row-1 {
            .cs-picture1 {
                height: calc(567 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture2 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture3 {
                height: calc(512 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }

        .cs-row-2 {
            .cs-picture1 {
                height: calc(492 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture2 {
                height: calc(517 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture3 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }

        .cs-row-3 {
            .cs-picture1 {
                height: calc(625 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture2 {
                height: calc(452 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture3 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }
    }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2289 {
        padding-top: 8rem;
        overflow: hidden;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(48/16 * 1rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-features {
            width: 100%;
            margin: 0 0 calc(32/16 * 1rem);
            /* 24px - 32px */
            padding: clamp(1.5rem, 4vw, 2rem);
            background-color: #f4fefd;
            border-left: calc(4/16 * 1rem) solid var(--secondary);
        }

        .cs-h3 {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            line-height: 1.5em;
            margin: 0 0 calc(12/16 * 1rem);
            color: var(--headerColor);
        }

        .cs-ul {
            font-size: calc(12/16 * 1rem);
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: calc(12/16 * 1rem);
        }

        .cs-li {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColor);
            position: relative;

            &::before {
                content: "";
                width: calc(8/16 * 1rem);
                height: calc(8/16 * 1rem);
                margin-top: calc(8/16 * 1rem);
                background-color: var(--secondary);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(45deg);
            }
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: calc(150/16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            color: #1a1a1a;
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            height: 126vw;
            max-height: calc(626/16 * 1rem);
            display: block;
            order: -1;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* big background image */
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: calc(95/16 * 1rem);
            left: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-box {
            text-align: left;
            width: 91%;
            max-width: calc(450/16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #f4fefd;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            column-gap: calc(24/16 * 1rem);
            row-gap: calc(8/16 * 1rem);
            position: absolute;
            right: 50%;
            bottom: 0;
            z-index: 10;
            transform: translate(50%);
        }

        .cs-number {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 4vw, 3.0625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0;
            color: #400061 ;
        }

        .cs-heading {
            font-size: calc(20/16 * 1rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 calc(8/16 * 1rem);
            color: var(--headerColor);
        }

        .cs-desc {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2289 {
        .cs-box {
            flex-direction: row;
            align-items: center;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2289 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            flex-direction: row;
            align-items: stretch;
            gap: calc(20/16 * 1rem);
        }

        .cs-content {
            padding-right: calc(52/16 * 1rem);
            padding-bottom: calc(108/16 * 1rem);
        }

        .cs-image-group {
            height: auto;
            min-height: calc(642/16 * 1rem);
            max-height: 100%;
            order: initial;
        }

        .cs-picture {
            bottom: calc(64/16 * 1rem);
        }
    }
}
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1378 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-content {
            margin-bottom: clamp(2.5rem, 5vw, 4rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2vw, 1.25rem);
            /* 72px - 84px */
            row-gap: clamp(4.5rem, 6vw, 5.25rem);
        }

        .cs-item {
            /* change to left if you want text aligned to the left */
            text-align: center;
            list-style: none;
            width: 100%;
            /* 210px - 305px */
            min-height: clamp(13.125rem, 30vw, 19.0625rem);
            margin: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 16px - 40px */
            padding: clamp(1rem, 3vw, 2.5rem);
            padding-top: 0;
            background-color: #f4f4f4;
            border-radius: calc(24 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: background-color 0.3s;

            &:hover {
                background-color: var(--primary);

                .cs-picture {
                    background-color: var(--primary);
                }

                .cs-icon,
                .cs-arrow {
                    filter: grayscale(1) brightness(1000%);
                }

                .cs-h3,
                .cs-item-text {
                    color: #fff;
                }

                .cs-item-text {
                    opacity: 0.8;
                }

                .cs-link {
                    border-color: #fff;
                }
            }
        }

        .cs-picture {
            width: calc(88 / 16 * 1rem);
            height: calc(88 / 16 * 1rem);
            margin: calc(-44 / 16 * 1rem) 0 clamp(1.75rem, 3vw, 2.25rem) 0;
            box-sizing: border-box;
            background-color: #bababa;
            border: 2px solid #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s background-color;
        }

        .cs-icon {
            width: calc(32 / 16 * 1rem);
            height: auto;
            transition: filter 0.3s;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: bold;
            line-height: 1.2em;
            text-align: inherit;
            text-align: inherit;
            /* if a word is too long for the card, break it onto a new line */
            word-break: break-word;
            margin: 0 0 calc(12 / 16 * 1rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 calc(32 / 16 * 1rem);
            color: var(--bodyTextColor);
            transition: 0.3s color;
        }

        .cs-link {
            text-decoration: none;
            width: calc(64 / 16 * 1rem);
            height: calc(64 / 16 * 1rem);
            color: var(--headerColor);
            border: 1px solid #bababa;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents the parent flexbox from shrinking the arrow */
            flex-shrink: 0;
            gap: calc(10 / 16 * 1rem);
            transition: border-color 0.3s;
        }

        .cs-arrow {
            width: auto;
            height: calc(12 / 16 * 1rem);
            transition: filter 0.3s;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #services-1378 {
        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-1378 {
        .cs-item {
            grid-column: span 4;
        }
    }
}

/*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1662 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 3.9vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: 0;
            max-width: 23ch;
        }

        .cs-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* 16px - 32px */
            gap: clamp(1rem, 3.2vw, 2rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 16px - 32px */
            gap: clamp(1rem, 2vw, 2rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: calc(16 / 16 * 1rem);
        }

        .cs-item-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-item-number {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-floater {
            /* 246px - 582px */
            width: clamp(15.375rem, 50vw, 36.375rem);
            height: auto;
            position: absolute;
            right: calc(-64 / 16 * 1rem);
            top: calc(-8 / 16 * 1rem);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1662 {
        .cs-wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}
                                

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-697 {
        padding: var(--sectionPadding);
        background-color: var(--primary);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--bodyTextColorWhite);
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--secondary);
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4/16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            /* makes it act like a background image */
            object-fit: cover;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cta-697 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
       

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1373 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(584 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: #767676;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-content-flair {
            width: 100%;
            margin: 0 0 calc(32 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-bar {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-h3 {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            width: 100%;
            color: var(--headerColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cs-progress {
            width: 100%;
            height: 8px;
            border-radius: 10px;
            overflow: hidden;
            background-color: #e8e8e8;
        }

        .cs-progress-bar {
            width: var(--progress);
            height: 100%;
            border-radius: 10px;
            background-color: var(--primary);
            display: block;
        }

        .cs-percentage {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(56 / 16 * 1rem);
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 calc(48 / 16 * 1rem);
            border-radius: calc(30 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #1a1a1a;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-flex {
            max-width: calc(904 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.3vw, 1.25rem);
        }

        .cs-picture {
            width: 100%;
            height: 90vw;
            min-height: calc(328 / 16 * 1rem);
            max-height: calc(450 / 16 * 1rem);
            /* 24px - 48px */
            border-radius: clamp(1.5rem, 4vw, 3rem);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-review {
            /* 24px - 60px */
            padding: clamp(1.5rem, 5vw, 3.75rem);
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 80px - 150px */
            gap: clamp(5rem, 10vw, 9.375rem);
            position: relative;
            z-index: 1;

            &:before {
                /* background color in pseudo so we can use the color variable */
                content: "";
                width: 100%;
                height: 100%;
                /* 24px - 48px */
                border-radius: clamp(1.5rem, 4vw, 3rem);
                background: var(--primary);
                opacity: 0.1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-icon {
            /* 80px - 120px */
            width: clamp(5rem, 10vw, 7.5rem);
            height: auto;
            opacity: 0.3;
            display: block;
        }

        .cs-review-text {
            /* 20px - 31px */
            font-size: clamp(1.25rem, 2vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 43.75rem) {
    #sbs-1373 {
        .cs-flex {
            flex-direction: row;
        }

        .cs-picture {
            width: 100%;
            height: auto;
            max-height: 100%;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-review {
            width: 100%;
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #sbs-1373 {
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-content {
            width: calc(369 / 16 * 1rem);
            text-align: left;
            align-items: flex-start;
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-review {
            justify-content: space-between;
        }
    }
}

                                
                                
                                